// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------

/// Event wrapper
/// @author Harry Roberts
/// @param {Bool} $self [false] - Whether or not to include current selector
/// @link https://twitter.com/csswizardry/status/478938530342006784 Original tweet from Harry Roberts
@mixin on-event($self: false) {
    @if $self {
      &,
      &:hover,
      &:active,
      &:focus {
        @content;
      }
    } @else {
      &:hover,
      &:active,
      &:focus {
        @content;
      }
    }
  }
  
  /// Make a context based selector a little more friendly
  /// @author Hugo Giraudel
  /// @param {String} $context
  @mixin when-inside($context) {
    #{$context} & {
      @content;
    }
  }
  
  @mixin glitchCopy { 
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  @mixin centerAlign {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  
  
  @mixin marginCenter {
    margin: 0 auto;
  }